.center-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add padding to the whole container */
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.data-table {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    width: 33.33%; /* Divide the width equally among columns */
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}


/* Row styles */
table tbody tr {
    background-color: #f2f2f2; /* Light gray background color for all rows */
}

/* Add padding to rows */
table tbody tr td {
    padding: 8px; /* Adjust the padding as needed */
}

th, td {
/*    border: 1px solid #ddd;*/
    padding: 5px;
    text-align: left;
}

th {
    background-color: #8fbc8f;
}

th, td {
    font-size: 12px; /* Adjust the font size as needed */
}

td.positive {
    color: #00aa00; /* Light green for positive numbers */
}

td.negative {
    color: #ff5555; /* Light red for negative numbers */
}

/* Add styles for pagination if needed */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 12px;
}

.pagination button.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}
